<?xml version='1.0' encoding='UTF-8' ?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"  
      xmlns:f="http://xmlns.jcp.org/jsf/core">  
    <h:head>
        <style>
            #schedulediv {   
                margin-left: 20%;
            }
            body{
                background-image: url(./web_img/varangy3.png);
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;          
            }
        </style>

        <title style="color: white">Békamentés jelentkezés</title> 
        <h:form>
            <h:link outcome="/users"  value="Felhasználók kezelése" rendered="#{authenticationController.isUerInRole('leader')}"/>
            <h:commandLink style="margin-left: 2%" action="#{authenticationController.logout}" value="Kijelentkezés " />
        </h:form>
    </h:head>  

    <h:body > 

        <f:view>
            <f:metadata>
                <f:viewAction action="#{scheduleBean.init()}" />
            </f:metadata>



            <h1 align="center" top="1px" style="color:white;" ><img src="./web_img/froge_inv.png" alt="ezegybeka" />Békamentés jelentkező naptár <img src="./web_img/froge.png" alt="ezegybeka" position="absolute" top="20px" /> </h1>

            <h:form id="scheduleForm" style="width: 75%; height: 75%; margin: auto" >
                <p:growl id="eventGrowl"/>
                <p:schedule value="#{scheduleBean.model}"  
                            widgetVar="scheduleExample" 
                            id="scheduleExample"
                            view="month" 
                            style="width: 75%; height: 75%; margin: auto">
                    <p:ajax event="dateSelect" listener="#{scheduleBean.onDateSelect}" update="#{p:component('scheduleExampleForm')}" oncomplete="PF('eventDialog').show();" />  
                    <p:ajax event="eventSelect" listener="#{scheduleBean.onEventSelect}" update="#{p:component('scheduleExampleForm')}" oncomplete="PF('eventDialog').show();" />                  
                </p:schedule>
            </h:form>


            <h:form id="scheduleExampleForm" style="margin: auto">

                <p:dialog  positionType="absolute" rendered="#{authenticationController.isUerInRole('leader')}" widgetVar="eventDialog" header="Event" responsive="true" modal="true">
                    <p:scrollPanel mode="native"  style="width:450px;height:400px">

                        <p:panelGrid columns="1" id="panelGridEvent" layout="grid">
                            <h:outputText value="Cím" />
                            <p:inputText  rendered="#{scheduleBean.getRescueOpen()}" value="#{scheduleBean.rescue.title}" size="30"/>
                            <h:outputText rendered="#{scheduleBean.getRescueClosed()}" value="#{scheduleBean.rescue.title}" />
                            <h:outputText value="Dátum" />
                            <p:calendar rendered="#{scheduleBean.getRescueOpen()}" value="#{scheduleBean.rescue.rescueDate}"/>   
                            <h:outputText value="#{scheduleBean.formattedDateInString(scheduleBean.rescue.rescueDate)}" rendered="#{scheduleBean.getRescueClosed()}"/>
                            <h:outputText value="Város" />
                            <h:inputText rendered="#{scheduleBean.getRescueOpen()}" value="#{scheduleBean.rescue.city}"/> 
                            <h:outputText rendered="#{scheduleBean.getRescueClosed()}" value="#{scheduleBean.rescue.city}" />
                            <h:outputText value="Jelentkezők maximális száma" />
                            <h:inputText  rendered="#{scheduleBean.getRescueOpen()}" value="#{scheduleBean.rescue.applicantLimit}"/> 
                            <h:outputText rendered="#{scheduleBean.getRescueClosed()}" value="#{scheduleBean.rescue.applicantLimit}" />
                            <h:outputText value="Jelentkezettek száma" />
                            <h:outputText value="#{scheduleBean.findAllByRescue()}" />

                            <h:outputText rendered="#{scheduleBean.rescue.id != null}" value="Megmentett békák:" />

                            <ui:repeat rendered="#{scheduleBean.rescue.id != null}" id="frogss" value="#{scheduleBean.rescueDataList}" varStatus="index" var="rcd">

                                <h:panelGrid columns="2" >
                                    <h:outputText value="Faj"/>
                                    <p:selectOneMenu rendered="#{scheduleBean.getRescueOpen()}" id="speciesSelector" converter="frogConverter" filter="true" filterMatchMode="startsWith" value="#{scheduleBean.rescueDataList[index.index].frogSpecies}">
                                        <f:selectItems value="#{scheduleBean.speciesList}" var="species" itemLabel="#{species.name}" itemValue="#{species}" />
                                    </p:selectOneMenu>
                                    <h:outputText rendered="#{scheduleBean.getRescueClosed()}" value="#{scheduleBean.rescueDataList[index.index].frogSpecies.name}" />
                                    <h:outputText value="Db" />
                                    <h:inputText rendered="#{scheduleBean.getRescueOpen()}" value="#{scheduleBean.rescueDataList[index.index].quantity}" />
                                    <h:outputText rendered="#{scheduleBean.getRescueClosed()}" value="#{scheduleBean.rescueDataList[index.index].quantity}" />
                                </h:panelGrid>
                            </ui:repeat> 
                            <p:commandButton rendered="#{scheduleBean.getRescueOpen() and scheduleBean.rescue.id != null}" ajax="true" update="@parent" value="New" style="width: 100%" actionListener="#{scheduleBean.addToRescueDataList()}" />
                            <p:commandButton  rendered="#{scheduleBean.getRescueOpen() and scheduleBean.rescue.id != null}" ajax="true" update="@parent" value="Remove" style="width: 100%" actionListener="#{scheduleBean.removeFromDataList(index.index)}" />


                        </p:panelGrid>
                    </p:scrollPanel>

                    <h:outputText style="color:red;" rendered="#{scheduleBean.getRescueClosed()}" value="Mentés lezárva!"/>

                    <f:facet name="footer">
                        <p:commandButton value="Mentés" rendered="#{scheduleBean.getRescueOpen()}" update="#{p:component('scheduleExample')},#{p:component('eventGrowl')},@form" process="@form" action="#{scheduleBean.save()}"/>
                        <p:commandButton value="Törlés"  update="#{p:component('eventGrowl')},#{p:component('scheduleExample')},@form" actionListener="#{scheduleBean.delete()}"/>
                        <p:commandButton rendered="#{scheduleBean.getRescueOpen()}" value="Lezárás" update="#{p:component('scheduleExample')},#{p:component('eventGrowl')},@form" actionListener="#{scheduleBean.close()}"/>
                        <p:commandButton value="Vissza" onclick="PF('eventDialog').hide(); return false;"/>
                    </f:facet>


                </p:dialog>

                <p:dialog positionType="absolute" rendered="#{authenticationController.isUerInRole('volunteer')}" widgetVar="eventDialog" header="Event" responsive="true" modal="true">
                    <p:scrollPanel >
                        <p:panelGrid columns="2" id="pGridEvent" layout="grid">
                            <h:outputText value="Cím" />
                            <h:outputText value="#{scheduleBean.rescue.title}" />
                            <h:outputText value="Dátum" />
                            <h:outputText  value="#{scheduleBean.formattedDateInString(scheduleBean.rescue.rescueDate)}"/>        
                            <h:outputText value="Város" />
                            <h:outputText  value="#{scheduleBean.rescue.city}"/> 
                            <h:outputText value="Jelentkezők maximális száma" />
                            <h:outputText  value="#{scheduleBean.rescue.applicantLimit}"/>
                            <h:outputText value="Eddig feljelentkezett" />
                            <h:outputText  value="#{scheduleBean.getApplicantCountForRescue(scheduleBean.rescue)}"/>
                            <h:outputText rendered="#{scheduleBean.rescue.id != null and scheduleBean.getRescueClosed()}" value="Megmentett békák: " />
                            <h:outputText value="" />
                            <h:dataTable rendered="#{scheduleBean.rescue.id != null and scheduleBean.getRescueClosed()}" value = "#{scheduleBean.rescueDataList}" var = "rescueData">
                                <h:column rendered="#{scheduleBean.rescue.id != null}">    				
                                    <f:facet name = "header">Békafaj</f:facet>    				
                                        #{rescueData.frogSpecies.name}
                                </h:column>
                                <h:column rendered="#{scheduleBean.rescue.id != null}">
                                    <f:facet name = "header">Db</f:facet>
                                        #{rescueData.quantity}
                                </h:column>
                            </h:dataTable>
                            
                        </p:panelGrid>

                    
                    </p:scrollPanel>
                    <h:outputText style="color:red;" rendered="#{scheduleBean.getRescueClosed()}" value="Mentés lezárva!"/>
                    
                    <f:facet name="footer">
                        <p:commandButton rendered="#{scheduleBean.getRescueOpen()}" value="Jelentkezés erre a békamentésre" update="#{p:component('scheduleExample')},#{p:component('eventGrowl')},@form" process="@form" action="#{scheduleBean.registerForFrogRescue(scheduleBean.rescue)}" />
                        <p:commandButton value="Vissza" onclick="PF('eventDialog').hide(); return false;"/>
                    </f:facet>


                </p:dialog>



            </h:form> 

        </f:view>

    </h:body>  
</html>
