<?xml version='1.0' encoding='UTF-8' ?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml"  
xmlns:h="http://xmlns.jcp.org/jsf/html"  
xmlns:p="http://primefaces.org/ui"  
xmlns:f="http://xmlns.jcp.org/jsf/core">  
    <h:head>
        <title>Békamentés | Bejelentkezés</title>
    </h:head>
    <h:body>
        <f:view>

            <f:metadata>
                <f:viewAction action="#{authenticationController.init()}" />
            </f:metadata>

            <h:form id = "loginForm" >

                <h3>
                    <h:outputText value="Bejelentkezés"/>
                </h3>

                <h:outputText id="validatorMessage" value="Hibás felhasználónév vagy jelszó" style="display:none; color: red;" /> 

                <h:panelGrid id ="loginGrid" columns="3">

                    <h:outputLabel value="Email" for="email" />
                    <h:inputText id="email" value="#{authenticationController.user.email}"  required="true" requiredMessage="Kötelező."/>
                    <h:message id="m2" for="email" style="color:red"/> 

                    <h:outputLabel value="Jelszó" for="password" />
                    <h:inputSecret id="password" value="#{authenticationController.user.volunteerPassword}" required="true" requiredMessage="Kötelező."/>
                    <h:message id="m3" for="password" style="color:red"/> 

                </h:panelGrid>

                <br/>
                <p:commandButton style="height: 25px;font-size:80%;" action="#{authenticationController.login()}" value ="Bejelentkezés" update="loginForm:validatorMessage"/> 
                <p:button style="height: 25px;font-size:80%;" value ="Regisztráció" outcome="registration.xhtml"/> 

                <h:panelGroup id ="script">
                    <h:outputScript>#{authenticationController.script}</h:outputScript>
                </h:panelGroup>

            </h:form>

        </f:view>

    </h:body>



</html>
