<?xml version='1.0' encoding='UTF-8' ?>  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml"  
xmlns:h="http://xmlns.jcp.org/jsf/html"  
xmlns:p="http://primefaces.org/ui"  
xmlns:f="http://xmlns.jcp.org/jsf/core">  
    <h:head>
        <title>Békamentés | Regisztráció</title>
    </h:head>
    <h:body>
        <f:view>

            <f:metadata>
                <f:viewAction action="#{authenticationController.init()}" />
            </f:metadata>

            <h:form>

                <h3>
                    <h:outputText value="Regisztráció"/>
                </h3>

                <h:panelGrid id ="registrationGrid" columns="3">
                    <h:outputLabel value="Név" for="name" />
                    <h:inputText id="name" value="#{authenticationController.user.volunteerName}" required="true" requiredMessage="A nevet kötelező megadni"/>
                    <h:message id="m1" for="name" style="color:red"/> 

                    <h:outputLabel value="Email" for="email" />
                    <h:inputText id="email" value="#{authenticationController.user.email}"  required="true" requiredMessage="Az email-t kötelező megadni"/>
                    <h:message id="m2" for="email" style="color:red"/> 

                    <h:outputLabel value="Telefonszám" for="phone" />
                    <h:inputText id="phone" value="#{authenticationController.user.phone}"  required="true" requiredMessage="A telefonszámot kötelező megadni"/>
                    <h:message id="m3" for="phone" style="color:red"/> 
                    
                    <h:outputLabel value="Jelszó" for="password" />
                    <h:inputSecret id="password" value="#{authenticationController.user.volunteerPassword}" required="true" requiredMessage="A jelszó nem lehet üres"/>
                    <h:message id="m4" for="password" style="color:red"/> 

                    <h:outputLabel value="Jelszó megerősítése" for="confirm_password" />
                    <h:inputSecret id="confirm_password" value="#{authenticationController.confirmPassword}" required="true" requiredMessage="A megerősítő jelszó nem lehet üres" />
                    <h:message id="m5" for="confirm_password" style="color:red"/>

                </h:panelGrid>

                <br/>
                <p:commandButton style="height: 25px;font-size:80%;" action="#{authenticationController.register()}" value ="Regisztráció"/> 
                <p:button  style="height: 25px;font-size:80%;" outcome="login.xhtml" value ="Van felhasználóm"/> 

            </h:form>

        </f:view>

    </h:body>
</html>
