<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"  
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Felhasználók kezelése</title>
    </h:head>
    <h:body>
        <f:view>
            <f:metadata>
                <f:viewAction action="#{userController.init()}" />
            </f:metadata>

            <h3>Felhasználók kezelése</h3>

            <h:form id = "userForm">
                <p:dataTable paginator="true" rows="10" scrollable="true" value="#{userController.volunteerList}" var="volunteer">
                    <p:column headerText="Név">
                        <h:outputText value="#{volunteer.volunteerName}" />
                    </p:column>
                    <p:column headerText="Email">
                        <h:outputText value="#{volunteer.email}" />
                    </p:column>
                    <p:column headerText="Telefon">
                        <h:outputText value="#{volunteer.phone}" />
                    </p:column>
                    <p:column headerText="Pozíció">
                        <h:outputText value="#{volunteer.volunteerRole}" />
                    </p:column>
                    <p:column headerText="Eszközök">
                        <p:commandButton ajax="true" update="@form" value="#{userController.isVolunteerInRole(volunteer,'volunteer') ? 'Hozzáadás a vezetőkhöz' : 'Törlés a vezetők közül'}" actionListener="#{userController.changeVolunteerRole(volunteer)}" />
                    </p:column>

                </p:dataTable>
                
                <br/>
                <p:button outcome="/index" value="Vissza"/>
            </h:form>
        </f:view>
    </h:body>
</html>

